/*------------------------------------*\
    $HELPERS
\*------------------------------------*/

// Fonts Family
%headline       { font-family: $headline-face; }
%readable       { font-family: $body-face; }

// Floating
%float--right   { float:right; }
%float--left    { float:left; }

// Position
%relative       { position: relative; }

// Text
%text--left     { text-align:left  !important; }
%text--right    { text-align:right !important; }

.text--center,
%text--center   { text-align:center!important; }

%text--light    { font-weight: 100; }
%text--regular  { font-weight: 300; }
%text--medium   { font-weight: 400; }
%text--bold     { font-weight: 700; }
%text--black    { font-weight: 900; }

%text--inverse,
.text--inverse  { color: $white; }

%caps,
.caps           { text-transform:uppercase; }

// Flush
%flush, .flush  { margin:       0!important; }
%flush--top     { margin-top:   0!important; }
%flush--right   { margin-right: 0!important; }
%flush--bottom  { margin-bottom:0!important; }
%flush--left    { margin-left:  0!important; }
%flush--ends    { margin-top:   0!important; margin-bottom:0!important; }
%flush--sides   { margin-right: 0!important; margin-left:  0!important; }

// Visibility
%hide,
.hide           { display: none; }
%show           { display: block; }
.visible,
%visible        { opacity: 1; }

.invisible,
%invisible      { opacity: 0; }

// Adaptative visibility
%show-medium-up { @extend %hide; @media #{$medium-up}       { display: block; }}

// Leading
.leader--s      { @include margin-leader(1/2); }
.trailer--s     { @include margin-trailer(1/2); }

.leader         { @include margin-leader; }
.trailer        { @include margin-trailer; }

.leader--big    { @include margin-leader(2); }
.trailer--big   { @include margin-trailer(2); }

// Mute an object by reducing its opacity.
%muted          { opacity:0.5;}

// Circular UI
%circle         { border-radius: 50%; }

.heart-active     { color: $second-color; }
.comment-active   { color: $good-green; }
.star-active      { color: $brand-color; }

.clr          { color: $brand-color!important; }
.clr-2        { color: #D25169!important; }
.clr-3        { color: #2AA6E7!important; }
.clr-4        { color: $star!important; }

.readable     { font-family: $body-face; }

.movie-quote      {
  color: #918F92;
  font-size: 85%;
  @include trailer;
  display: inline-block;
  font-weight: normal;
}