# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore app.yml
/config/app.yml

# Ignore database.yml
/config/database.yml

# Ignore .rvmrc
.rvmrc

# Ignore .ruby-gemser
.ruby-gemset

# Ignore .ruby-version
.ruby-version

# Ignore .DS_Store
.DS_Store
