- if @comment
  | myFormWrapper = $(".#{@comment.commentable_type.underscore}[data-id=#{@comment.commentable_id}] .js-comment-wrapper");
  | myFormWrapper.before('#{escape_javascript(render(:partial => 'comments/show', locals: {comment: @comment}))}');
  | myFormWrapper.find("textarea").focus().val("");
