section.rank-list

  - if @movies && @movies.any?

    - @movies.each_with_index do |movie, i|
      = render "movies/show_recommended", movie: movie, header: i.zero?

  - else
    - last_activity = Activity.last
    - movie = last_activity.content.movie

    = render "movies/show_recommended", movie: movie, header: true

    article.clear.text--center
      p NO ENCONTRAMOS NINGUNA RECOMENDACIÓN
      .subheader Recuerda que puedes buscar por género y país

- if @movies && @movies.any?

  section.clear.text--center

    .btn.btn--lrg.js-rank-load Cargar más películas

    .js-rank-loading.hide
      i.ion-loading-c
      ' &nbsp;
      | Cargando

    .js-rank-end.hide
      | THE END

- content_for :custom_js do
  javascript:

    total_pages = #{@total_pages}
    nextPage = 2;

    $(document).ready(function() {

      $('.js-rank-load').on("click", function(){

        $(this).hide();
        $('.js-rank-loading').toggleClass('hide');

        $.ajax({ url: getRecommendationUrl(), dataType: "script" }).done(function(d){

          nextPage = nextPage + 1;

          if(nextPage > total_pages){
            $('.js-rank-loading').toggleClass('hide');
            $('.js-rank-end').toggleClass('hide');
          }

          else{
            $(this).show();
            $('.js-rank-loading').toggleClass('hide');
          }

        });

      })

    });

    function getRecommendationUrl(){
      url = "/movies/recommended?page=" + nextPage

      if ("#{@genre}" != ""){
        url = url + "&genre=#{@genre}"
      }

      if ("#{@order}" != ""){
        url = url + "&order=#{@order}"
      }

      return url;
    }
