h1 Recommended Movies

= form_tag recommended_movies_path, method: :get do |f|
  = select_tag :genre, ("<option></option>" + options_from_collection_for_select(Genre.all, "id", "name", @genre)).html_safe
  = select_tag :order, options_for_select(["l4m_rating_average", "tmdb_vote_average", "rating_average"], @order)
  = submit_tag "Enviar"

= render "index", movies: @movies

#more-movies

- content_for :custom_js do
  javascript:

    total_pages = #{@total_pages}
    nextPage = 2;

    $(document).ready(function() {
      $(window).on("scroll", function(){
        if($('#loading').size() == 0 && $('#more-movies').size() != 0 && $('#end-of-scrolling').size() == 0 && nextPage <= total_pages){

          if($(window).scrollTop() > ($(document).height() - ($(window).height() + 50))){
            $("#more-movies").html("<div id='loading' class='bottom-msg'>Loading...</div>");

            $.ajax({ url: "/movies/recommended?page=" + nextPage, dataType: "script" }).done(function(d){
              $('#loading').remove();
              //New ratios for new posters
              posterRatios();
              nextPage = nextPage + 1;
            });
          }
        }
      })
    });
