| $(".#{@love.lovable_type.underscore}[data-id=#{@love.lovable_id}] .js-love").html('#{link_to fa_icon("heart-o"), loves_path(lovable_type: @love.lovable_type, lovable_id: @love.lovable_id), method: :post, remote: true}');

| $(".#{@love.lovable_type.underscore}[data-id=#{@love.lovable_id}] .js-media__lovers .love-user-#{@love.user.id}").remove();