| $(".#{@love.lovable_type.underscore}[data-id=#{@love.lovable_id}] .js-love").html('#{link_to '<i class="ion-heart"></i>'.html_safe, loves_path(lovable_type: @love.lovable_type, lovable_id: @love.lovable_id), method: :post, remote: true}');

| $(".#{@love.lovable_type.underscore}[data-id=#{@love.lovable_id}] .js-media__lovers .love-user-#{@love.user.id}").remove();