- time_content = @year || @decade

section.rank-list

  - @ratings.each_with_index do |rating, i|
    = Rails.cache.fetch("#{rating.id}-#{rating.updated_at.to_s}-#{i}") do
      - render "users/rating", rating: rating, index: i, header: i.zero?, time: time_content

section.clear.text--center
  .btn.js-rank-load Load more movies

  .js-rank-loading.hide
    i.ion-loading-c
    ' &nbsp;
    | Loading

  .js-rank-end.hide
    span.caps The End

- content_for :custom_js do
  javascript:

    total_pages = #{@total_pages}
    nextPage = 2;

    if(nextPage > total_pages){
      $('.js-rank-load').hide();
      $('.js-rank-end').toggleClass('hide');
    }

    $(document).ready(function() {

      $('.js-rank-load').on("click", function(){

        $(this).hide();
        $('.js-rank-loading').toggleClass('hide');

        $.ajax({ url: "#{@js_url}?page=" + nextPage, dataType: "script" }).done(function(d){

          nextPage = nextPage + 1;

          if(nextPage > total_pages){
            $('.js-rank-loading').toggleClass('hide');
            $('.js-rank-end').toggleClass('hide');
          }

          else{
            $('.js-rank-load').show();
            $('.js-rank-loading').toggleClass('hide');
          }

        });

      })

    });

- content_for :title do
  = "#{@user.nickname}'s #{@year} movies"

- content_for :custom_meta do
  - if @ratings.any?
    meta property="og:image" content="#{@ratings.first.movie.decorate.get_background_image}"
