title = content_for?(:title) ? yield(:title) : "Love4Movies"

= stylesheet_link_tag    "application", :media => "all"
= javascript_include_tag "application"

script src="//use.typekit.net/ufy0pyw.js"
script try{Typekit.load();}catch(e){}

= csrf_meta_tags
= favicon_link_tag 'favicon.png'

meta content="" name="description"
meta content="" name="author"
meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"
meta name="apple-mobile-web-app-capable" content="yes"
meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"

- if session[:just_logged_in]
  = render "shared/remove_fb_garbage"
  - session[:just_logged_in] = false

- if content_for?(:custom_meta)
  = yield :custom_meta
