/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/**
 * Basic button structural styling. Extend in your theme stylesheet.
 *
 * Demo: jsfiddle.net/inuitcss/RqHcp
 *
 */
.btn{
  font: inherit;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  padding: 1em 3em;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  background-color: $brand-color;
  background: transparent;
  border: 2px solid $text-color;
  @include transition(all, ease, 0.3s);
  &:hover,
  &:focus{
    background-color: $text-color;
    color: $white;
    outline: none;
  }
}

/**
 * Basic button modifiers
 */
.btn--sml { font-size: .75em; }
.btn--lrg { font-size:1.50em; }

.btn--full{
    display:block;
    text-align:center;
    /**
     * The following is so that `.btn-full` works properly on `input`s as well
     * as `a`s.
     */
    padding-right:0;
    padding-left: 0;
    width:100%;
}