/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/**
 * Basic button structural styling. Extend in your theme stylesheet.
 *
 * Demo: jsfiddle.net/inuitcss/RqHcp
 *
 */
.btn{
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  padding: 1em 3em;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  color: $text-color;
  background-color: transparent;
  border: 1px solid $text-color;
  border-radius: 1px;
  @include transition(all, ease, 0.3s);
  &:hover,
  &:focus{
    background-color: $text-color;
    border-color: inherit;
    color: $white;
    outline: none;
  }
  .fa             { margin-right: 1em; }
}

/**
 * Basic button modifiers
 */
.btn--sml   { font-size: .75em; }
.btn--lrg   { font-size:1.50em; }
.btn--light { border-color: $white; color: $white; }
.btn--rate  { background-color: $brand-color; border-color: $brand-color; color: $white;}

.btn--full{
  display:block;
  text-align:center;
  padding-right:0;
  padding-left: 0;
  width: 100%;
  @include trailer(.5);
}

.btn--follow{
  color: $white;
  background-color: $brand-color;
  display: inline-block;
  padding: 1em 1.5em 1em 6em;
  margin-right: 2.5em;
  font-size: 12px;
  @include transition;
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  letter-spacing: 0.05em;

  &:before{
    @extend .ion-plus;
    height: 100%;
    width: 4em;
    line-height: 4em;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background-color: darken($brand-color, 10%);
  }

  &:hover, &:focus{ outline: 0; background-color: darken($brand-color, 10%); color: $white; }
}

.btn--unfollow{
  color: $white;
  background-color: #3CC28C;
  display: inline-block;
  padding: 1em 1.5em 1em 6em;
  margin-right: 2.5em;
  font-size: 12px;
  @include transition;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: 0.05em;
  position: relative;

  &:before{
    @extend .ion-checkmark;
    height: 100%;
    width: 4em;
    line-height: 4em;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background-color: darken(#3CC28C, 10%);
  }

  &:hover, &:focus{ outline: 0; background-color: darken(#3CC28C, 10%); color: $white; }
}

.btn--facebook{
  background-color: $facebook;
  text-transform: uppercase;
  border: none;
  color: $white;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 1.5em 3em 1.5em 7em;
  position: relative;

  &:hover,
  &:focus{
    background-color: darken($facebook, 10%);
    color: $white;
  }

  &:before{
    @extend .ion-social-facebook;
    height: 100%;
    width: 5em;
    line-height: 2;
    position: absolute;
    left: 0;
    top: 0;
    background-color: darken($facebook, 10%);
    padding: 1em 1.5em;
  }
}

.btn--twitter{
  background-color: $twitter;
  text-transform: uppercase;
  border: none;
  color: $white;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 1.5em 3em 1.5em 7em;
  position: relative;

  &:hover,
  &:focus{
    background-color: darken($twitter, 10%);
    color: $white;
  }

  &:before{
    @extend .ion-social-twitter;
    height: 100%;
    width: 5em;
    line-height: 2;
    position: absolute;
    left: 0;
    top: 0;
    background-color: darken($twitter, 10%);
    padding: 1em 1.5em;
  }
}
