/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/**
 * Basic button structural styling. Extend in your theme stylesheet.
 *
 * Demo: jsfiddle.net/inuitcss/RqHcp
 *
 */
.btn{
  font: inherit;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  padding: 1em 3em;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  color: $text-color;
  background-color: $brand-color;
  background: transparent;
  border: 2px solid $text-color;
  border-radius: 50px;
  @include transition(all, ease, 0.3s);
  &:hover,
  &:focus{
    background-color: $text-color;
    color: $white;
    outline: none;
  }
}

/**
 * Basic button modifiers
 */
.btn--sml { font-size: .75em; }
.btn--lrg { font-size:1.50em; }

.btn--full{
    display:block;
    text-align:center;
    /**
     * The following is so that `.btn-full` works properly on `input`s as well
     * as `a`s.
     */
    padding-right:0;
    padding-left: 0;
    width:100%;
}

.btn--facebook{
  background-color: $facebook;
  border: none;
  color: $white;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 1.5em 3em 1.5em 5em;
  position: relative;
  &:hover,
  &:focus{
    background-color: darken($facebook, 10%);
    color: $white;
  }
  &:after{
    content: "\f09a";
    @extend .fa;
    height: 100%;
    line-height: 2;
    position: absolute;
    left: 0;
    top: 0;
    background-color: darken($facebook, 10%);
    padding: 1em 1.5em;
  }
}
