/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

.gw,
.grid-wrapper{
    /**
     * Negative margin to negate the padding on the first grid child.
     */
    margin-left:-$base-spacing-unit;
    /**
     * The following declarations allow us to use the `.gw` class on lists.
     */
    list-style:none;
    margin-bottom:0;
    @extend %cf;
}

/**
 * Very infrequently occuring grid wrappers as children of grid wrappers.
 */
.gw > .gw,
.grid-wrapper > .grid-wrapper{
    margin-left:0;
}


/**
 * Grid
 *
 * Shorthand and verbose
 */
.g,
.grid{
    float:left;
    padding-left:$base-spacing-unit;
    @if $global-border-box == false{
        @include box-sizing(border-box);
    }
}

%grid{
  @extend %float--left;
  @extend %relative;
}

%center-col{
  float: none;
  margin-left: auto;
  margin-right: auto;
}

%grid-papa{
  max-width: 75em;
  @extend %one-whole;
  @extend %medium-four-fifths;
  @extend %center-col;
  @extend %relative;
}
