| old_rating = $("#rating_average").val();
| new_rating = #{@my_rating.movie.l4m_rating_average.round(2)};
| if(old_rating != new_rating){ $("#rating_average").text(new_rating) }
| $(".js-my-rating").text("#{@my_rating.value}");
