| $("#rating_form").html("¡Voto emitido!");
| old_rating = $("#rating_average").val();
| new_rating = #{@rating.movie.rating_average.round(1)};
| if(old_rating != new_rating){ $("#rating_average").text(new_rating) }
| $("#my_rating").text("#{@rating.value}");
