// Animations
@-webkit-keyframes fadeTop {
  from { @include translateY(10%); opacity: 0; }
  to   { @include translateY(0); opacity: 1; }
}

@keyframes fadeTop {
  from { @include translateY(10%); opacity: 0; }
  to   { @include translateY(0); opacity: 1; }
}

.first-activity{
  position: relative;
  z-index: 1;
  overflow: hidden;
  @extend %text--inverse;

  .overlay-important__img { display: block; max-width: none; width: 100%; }

  .overlay-important {
    @include rposition($type: absolute, $bottom: 0, $left: 0, $right: 0, $top: 0 );
    @include background-image(linear-gradient(transparent 60%, transparentize($text-color, .55)));
    z-index: 1;
  }
  .first-activity__title {
    @extend %text--inverse;
    @extend %headline;
    @include adjust-font-size-to($h4-size);
    letter-spacing: .05em;
  }

  .first-activity-info  {
    @include rposition($type: absolute, $bottom: 0, $left: 2em, $right: 0 );
    padding-bottom: .5em;
    z-index: 2;
    @extend %grid-papa;
    @media #{$medium-up} { left: 0; padding-bottom: 5em; }
  }
  .first-activity__more{
    font-size: $base-font-size*1.25;
  }
  .avatar{
    width: $base-font-size*2.75;
    height: $base-font-size*2.75;
    @extend %flush--right;
  }
  .media{
    -webkit-animation: fadeTop 1s both 170ms;
    animation: fadeTop 1s both 170ms;
    @include trailer(.5);
  }

  .first_activity__content {
    display: block;
    @include adjust-font-size-to($h4-size, 1.5);
    @extend %readable;
    font-style: italic;
    max-width: 27em;
    @include trailer;
    -webkit-animation: fadeTop 1s both .55s;
    animation: fadeTop 1s both .55s;
  }

  .media__body{
    padding: .5em $base-font-size;
    max-width: 40em;
  }
}

.movie__activity{
  @include rposition($type: absolute, $top: $base-font-size*2, $left: $base-font-size*1 );
  .media__body{
    color: $white;
    @include adjust-font-size-to($base-font-size*1.5, 1);
    @include transition(color ease-in .25s);
  }
  .avatar             {
    width: $base-font-size*2;
    height: $base-font-size*2;
    margin-right: .5em;
  }
}

.activity{
  &:hover{ .media__body {color: $text-color;} }
}