.comments {
  @include leader;
  .comment    { @include trailer(.75); }
  img         { width: $base-font-size*2.5; height: $base-font-size*2.5; }
}

.form-comment-wrapper{
  @include trailer(2);
  @include leader(2);
  textarea{
    border: 1px solid #eee;
    resize: none;
    width: 100%;
    height: 5em;
    @include trailer;
    border-radius: 2px;
    &:focus{ outline: 0; border-color: #bbb; }
  }
  input{
    color: $white;
    background-color: $brand-color;
    display: block;
    width: 100%;
    border: 2px solid $brand-color;
    padding: 1em 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    @include transition(border, ease-in, .35s);
    &:hover, &:focus{ outline: 0; border-color: darken($brand-color, 10%); }
  }
}
