.comments {
  margin-left: 5em;
  @include leader;
  @include trailer;
  .comment   { @include trailer(.5); }
}

.comment-action{
  cursor: pointer;
  margin-left: 1em;
  color: $good-green;
}

.form-comment-wrapper{
  display: none;
  &.active   { display: block; }
  textarea{
    border: none;
    resize: none;
    width: 40%;
  }
  input{
    color: $good-green;
    background-color: $white;
    display: block;
    border: 1px solid $good-green;
    padding: 0.4em 1em;
    border-radius: 50px;
    &:hover, &:focus{ outline: 0; background-color: $good-green; color: $white; }
  }
}
