.comments-list {

  width: 70%;
  margin: 0 auto;

}

.c--wrapper{

  @include padding-trailer;
  @include padding-leader;
  background-color: $white;
  border-bottom: 1px solid #eee;
  padding-left: 6em;
  padding-right: 8em;
  position: relative;

}

.media__body--author {

  line-height: 1;
  margin-bottom: 5px;
  font-size: 10px;
  text-transform: uppercase;

  a  {

    color: rgba($text-color, 0.5);

  }

}

.media__body--date {

  font-size: 12px;
  color: transparentize($text-color, .65);
  float: right;

}

.media__content {
  @extend %readable;

}

.media__img             {

  margin-right: 10px;

  img { width: $base-font-size*2.5; }

}