// Main grid
.main-wrapper         { margin-left: $sidebar-width; }

.sidebar{
  position: fixed;
  z-index: index($index-elements, menu);
  width: $sidebar-width;
  min-height: 100%;
  background-color: $text-color;
  color: $white;
}
