// Vars
$header-height: $base-font-size*3;

.main-header{
  @include rposition($type: absolute, $top: 0);
  width: 100%;
  z-index: 9999;
  @include transition(top cubic-bezier(.65,0,1,.95) 0.25s);
  &.search-active   { top: $base-font-size*5; }
}

.header-grid{
  @extend %grid-papa;
  line-height: 1;

  .logo{
    width: $base-font-size*8;
    height: $header-height;
    float: left;
    padding: 8px 10px;
    background-color: $text-color;
  }

  .user-notifications,
  .user-profile{
    float: right;
    width: $header-height;
    height: $header-height;
  }

  .user-notifications{
    @extend %text--center;
    background-color: transparentize($brand-color, .5);
    color: $white;
    line-height: $header-height;
  }

  .search-icon{
    float: left;
    font-size: 1.25em;
    padding: 10px;
    cursor: pointer;
  }
}
