.main--nav {

  position: relative;
  width: 100%;
  @include padding-leader(2/3);
  @include padding-trailer(2/3);
  z-index: index($index-elements, menu);
  background-color: $text-color;

  &.is-trans { background-color: transparent; @include background-image(linear-gradient($text-color, transparent)); }

}

.main--logo {

  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 10%;

  img {

    height: 28px;
    width: 28px;
    vertical-align: middle;
    opacity: 0.5;

  }

}
.main--nav-list {

  @include inline-block-list(0);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: visible;
  margin-left: 12%;

  a {

    @include transition;
    color: rgba($white, 0.8);
    text-transform: uppercase;
    font-size: 12px;
    padding: 0.5em 1.5em 0.5em;

    &:hover,
    &.current { color: $brand-color; }

  }

}

.main--user-nav {

  @include inline-block-list(1em);
  position: absolute;
  overflow: visible;
  right: 10%;
  top: 1em;

  a   { color: $white; vertical-align: middle;}
  & > li  { position: relative; height: 28px; vertical-align: middle; }
  i {

    font-size: 1.25em;
    vertical-align: middle;
    opacity: 0.85;

  }

}

.main--avatar {

  img {

    width: 28px;
    height: 28px;
    border-radius: 50%;
    vertical-align: middle;

  }

  i { font-size: 10px; opacity: 0.5; margin-left: 10px; }
}

.icon--not{

  @include rposition($type: absolute, $right: 5px, $top: -5px);
  text-align: center;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 70%;
  border-radius: 50%;
  font-weight: bold;
  background-color: $brand-color;
  color: $white;

}

.dropdown-menu {

  display: none;
  position: absolute;
  top: 140%;
  right: 0;
  background-color: $white;
  border: 1px solid #E1E8ED;
  border: 0 solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

  li { display: block; padding: 0; border-bottom: 1px solid #eee; }
  li:last-of-type {border: none;}
  strong { display: block; }

  a {

    color: rgba($text-color, 0.7);
    padding: 10px 30px 10px 20px;
    display: block;
    font-size: 12px;

    &:hover { background-color: $brand-color; color: $white; }

  }

  &.is-active { display: block; }

}