.header--title{
  @extend %headline;
  @extend %text--center;
  @include padding-leader(.5);
  position: relative;
  &:after{
    content: '';
    width: $base-font-size*10;
    height: $base-font-size/4;
    background-color: $second-color;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -$base-font-size*5;
  }
}

.subheader{
  @extend %readable;
  @extend %text--center;
  font-style: italic;
  color: transparentize($text-color, .25);
  @include trailer;
}

.movie__description{
  @include rposition($type: absolute, $top: 40%);
  color: $white;
  @extend %text--center;
  width: 100%;
  .movie__title     { @include adjust-font-size-to($h2-size, 1.5); @extend %headline; }
  .movie__year      { @include adjust-font-size-to($h6-size, 1); @extend %text--regular; }
  .movie__director  { @include adjust-font-size-to($h5-size, 1); @extend %text--regular; }
}

.activities, .movies-list, .people-list{
  @extend %block-grid;
  @extend %small-block-grid-2;
  @extend %medium-block-grid-3;
  @extend %large-block-grid-4;
  @extend %xlarge-block-grid-5;
  figcaption                      { @include transition(opacity, ease, 0.4s); @extend %invisible; }
  article                         { @include rposition($type: relative); }
  figure{
    background-color: $text-color;
    overflow: hidden;
    height: 100%;
    .figure__img              { width: 100%; height: 100%; @include transition(all, ease, 0.6s); }
    &:hover, &.visible{
      .figure__img            { opacity: .2; @include scale(1.1); }
      figcaption              { @extend %visible; }
      .movie__activity        { @include transform(translate3d(0, -10%, 0)); background-image: none; }
    }
  }
}


// Animations
@-webkit-keyframes zoom-out {
	from { opacity: 0; @include scale(0.75); }
	to   { opacity: 1; @include scale(1); }
}

@keyframes zoom-out {
  from { opacity: 0; @include scale(0.75); }
  to   { opacity: 1; @include scale(1); }
}

.activities,
.movies-list,
.first-activity{
  article{
    -webkit-animation: zoom-out 1s both;
    animation: zoom-out 1s both;
  }

  @for $i from 1 through 30 {
    article:nth-child(#{$i}) {
      -webkit-animation-delay: $i * 150ms;
      animation-delay: $i * 150ms;
    }
  }
}
