.movie--backdrop{
  height: 50em;
  width: 100%;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center center;
  @include background-size(cover);
  position: relative;
}

.friends--ratings{
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;

  .rating {
    margin-bottom: 10px
  }
}

.movie--show{
  max-width: 1400px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20em;
  position: relative;
  z-index: 10;
  @extend %cf;
  @include trailer(5);
  .movie__img {
    width: 30%;
    float: left;
  }
  .movie__info {
    width: 45%;
    float: left;
  }
  .movie__title{
    background-color: transparentize(black, 0.3);
    color: $white;
    padding: .5em 20px;
    @extend %caps;
    @extend %text--light;
    display: inline-block;
  }
  .movie__subheader{
    background-color: transparentize($white, .1);
    padding: .5em 20px;
    font-weight: 400;
    display: inline-block;
  }
  .movie__summary{
    background-color: transparentize($white, 0);
    padding: 1em 40px 1em 20px;
    @include padding-leader;
    @include padding-trailer(2);
  }
  .movie__date{
    background-color: transparentize($white, 0);
    padding: 1em 20px;
  }
  .movie__tags{
    background-color: transparentize($brand-color, 0);
    padding: 1em 20px;
    display: inline-block;
    color: $white;
    font-weight: 100;
  }
}

.movie--rating{
  position: absolute;
  top: 1em;
  right: 0;
}

.movie--rating__button{
  font-size: 30px;
  color: $white;
  font-weight: 300;
  background-color: transparentize($brand-color, .1);
  padding: .5em 1em;
  cursor: pointer;
  @include transition(background-color, ease, 0.6s);
  &:hover{
    background-color: transparentize($brand-color, 0);
  }
}
.movie--rating__icon{
  margin-right: .5em;
}
.movie--rating__user-rating{
  margin-left: .5em;
  font-size: 12px;
  font-weight: 100;
  > span { margin-left: .25em; }
}

.rating-buttons{
  position: absolute;
  right: 100%;
  top: 0;
  width: 275%;
  height: 100%;
  background-color: transparentize($brand-color, .3);
  font-size: 24px;
  line-height: 55px;
  text-align: center;
  @include transition(opacity, ease, 0.3s);
  a { color: $white; padding-right: 5px; }
}

.movie--chat{
  max-width: 1400px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10;
  @include trailer(5);
  @extend %cf;
  .movie--chat__title{ @include trailer;}
  .movie--chat__wrapper {
    float: left;
    width: 66.66666%;
  }
  .review{ @include trailer; }
}

.do-review{
  @include leader(3);
  form{
    margin-left: 70px;
  }
  .btn--chat{
    @include leader(.5);
    padding: 2em 0;
    @extend %caps;
  }
}

