.jump-header{
  text-align: center;
  @include leader(4);
  > h2 {text-transform: uppercase;}
  > img {max-width: 80px; @include trailer;}
}

.header--title{
  @extend %headline;
  @extend %text--center;
  @include padding-leader(.5);
}

.subheader{
  @extend %readable;
  text-align: center;
  font-style: italic;
  color: transparentize($text-color, .25);
  @include trailer;
  &--inverse { color: transparentize($white, .25); text-align: left; }
}

.movie__description{
  @include rposition($type: absolute, $top: 40%);
  color: $white;
  @extend %text--center;
  width: 100%;
  .movie__title     { @include adjust-font-size-to($h2-size, 1.5); @extend %headline; }
  .movie__year      { @include adjust-font-size-to($h6-size, 1); @extend %text--regular; }
  .movie__director  { @include adjust-font-size-to($h5-size, 1); @extend %text--regular; }
}

.activities, .movies-list, .people-list{
  @extend %block-grid;
  @extend %small-block-grid-2;
  @extend %medium-block-grid-3;
  @extend %large-block-grid-4;
  @extend %xlarge-block-grid-5;
  figcaption                      { @include transition(opacity, ease, 0.4s); @extend %invisible; }
  article                         { @include rposition($type: relative); }
  figure{
    background-color: $text-color;
    overflow: hidden;
    height: 100%;
    .figure__img              { width: 100%; height: 100%; @include transition(all, ease, 0.6s); }
    &:hover, &.visible{
      .figure__img            { opacity: .2; @include scale(1.1); }
      figcaption              { @extend %visible; }
      .movie__activity        { @include transform(translate3d(0, -10%, 0)); background-image: none; }
    }
  }
}


// Animations
@-webkit-keyframes zoom-out {
	from { opacity: 0; @include scale(0.9); }
	to   { opacity: 1; @include scale(1); }
}

@keyframes zoom-out {
  from { opacity: 0; @include scale(0.9); }
  to   { opacity: 1; @include scale(1); }
}

.activities,
.movies-list,
.first-activity{
  article{
    -webkit-animation: zoom-out 1s both;
    animation: zoom-out 1s both;
  }

  @for $i from 1 through 12 {
    article:nth-child(#{$i}) {
      -webkit-animation-delay: $i * 125ms;
      animation-delay: $i * 125ms;
    }
  }
}


.act--elem {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: $text-color;
  width: 100%;
  position: relative;
  display: block;

  // Aspect Ratio 1.5
  padding-top: (100% * (3/2));

  -webkit-filter: brightness(0.9);
  @include translateZ(0);
  @include transition (all 150ms cubic-bezier(0.42, 0, 0.58, 1));

  &:hover { -webkit-filter: brightness(1); }

  &::before{

    content: "";
    @include rposition($type: absolute, $bottom: 0, $left: 0, $right: 0, $top: 0 );
    @include background-image(linear-gradient(transparent 30%, transparentize($text-color, 0)));
    z-index: $slider-index + 2;

  }

}

.act--titles{

  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0px auto;
  padding: 20px 25px;
  line-height: 1;
  z-index: 999999;
  color: $white;

  h3 {

    line-height: 1.2;
    font-size: 1.5em;
    @include trailer(2/3);

  }

}

.act--movie {

  @include trailer(1/3);
  opacity: 0.8;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.act--user {

  color: rgba($white, 0.75);

}

.act--rating {

  float: right;
  color: $white;
  font-size: 1em;
  margin-top: 5px;

  i { margin-right: 5px; }

}