// Vars
$comment-index: 999;
$slider-index: 99;
$dark-trans: transparentize($text-color, 0.3);

.movie__info-wrapper    { @extend %grid-papa; }
.movie__heading         { @extend %headline; @include adjust-font-size-to($h1-size); }
.movie__sub-heading     { @extend %readable; @include adjust-font-size-to($h6-size); font-style: italic; @include trailer; color: transparentize($text-color, .5); }

// ------------------
// HERO
// ------------------
.movie--header {
  @include trailer(2);
  &:before{
    content: "";
    @include rposition($type: absolute, $bottom: 0, $left: 0, $right: 0, $top: 0 );
    @include background-image(linear-gradient(transparent 35%, transparentize($text-color, .25)));
    z-index: $slider-index + 2;
  }

  .movie__info    {
    @extend %one-whole;
    @extend %text--center;
    @extend %text--inverse;
    position: absolute;
    bottom: 7em;
    z-index: $comment-index - 1;
  }

  .movie__title   {
    @include adjust-font-size-to($mega-size, 3);
    font-size: 6vw;
    padding: 0 $base-font-size*2.5;
    @extend %text--inverse;
    @extend %flush;
    display: block;
    @extend %headline;
    letter-spacing: -1px;
  }

  .movie__subheader{
    @extend %caps;
    padding: 0 $base-font-size*2;
    & a               { color: transparentize($white, .2); @include transition(color ease-in .25s); }
    & a:hover         { color: $white; }
  }
  .movie__stats   {
    @include adjust-font-size-to($h5-size);
    @include trailer;
    & a               { color: transparentize($white, .2); @include transition(color ease-in .25s); }
    & a:hover         { color: $white; }
    .fa               { color: $brand-color; }
  }
}

// ------------------
// SINOPSIS
// ------------------
.movie--show{
  @extend %grid-papa;
  @extend %relative;
  @extend %cf;
  @include trailer(2);

  .movie__img             { @extend %grid; @extend %medium-one-quarter; @extend %show-medium-up; }
  .movie__runtime         { padding-right: 1em; }
  .movie__tags            { display: inline-block; }

  .movie__summary{
    @extend %grid;
    @extend %medium-three-quarters;
    padding-left: $base-font-size*2.5;
    padding-right: $base-font-size*3;
    @include trailer(2);
  }

  .movie__sinopsis{
    @include column-count(2);
    @include column-gap(2em);
    @include trailer;
    @extend %readable;
    @include adjust-font-size-to($base-font-size);
  }
}

// ------------------
// ACTORS
// ------------------
.movie--actors{
  @extend %grid-papa;
  @extend %relative;
  @extend %cf;
  @include trailer(2);
  @extend %text--center;
  .movie--actors-list   {
    @extend %block-grid;
    @extend %small-block-grid-3;
    @extend %medium-block-grid-3;
    @extend %large-block-grid-5;
    @extend %xlarge-block-grid-6;
    @include trailer(2);
  }
  .actor__description{
    display: table;
    width: 100%;
    height: 100%;
    @include rposition($type: absolute, $top: 0);

  }
  .actor__name{
    display: table-cell;
    vertical-align: middle;
    @include adjust-font-size-to($h3-size, 1);
    @extend %text--inverse;
    @extend %text--center;
    @extend %headline;
    letter-spacing: 1px;
    padding: 0 $base-font-size;
  }

  figure{
    position: relative;
    background-color: $text-color;
    overflow: hidden;
    height: 100%;
    img                           { width: 100%; height: 100%; @include transition(all, ease, 0.6s); }
    &:hover{
      img                         { opacity: .25; @include scale(1.1); }
      figcaption                  { @extend %visible; }
    }
  }
  figcaption{ @include transition(opacity, ease, 0.4s); @extend %invisible; }
}

// ------------------
// DO FORMS
// ------------------
.do-review,
.do-rating  {
  width: 100%;
  height: 100%;
  @include rposition($type: fixed, $left: 0, $top: 0 );
  overflow: hidden;
  z-index: $comment-index;
  @include transform(translate3d(0, 100%, 0));
  background-color: transparentize(white, 0.05);
  .do-review-grid,
  .do-rating-grid         { @extend %grid-papa; padding-top: $header-height*2; }

  .do__title              { opacity: 0; }

  .do-review__subtitle,
  .do-rating__subtitle    { @extend %show; color: gray; font-weight: 300; font-style: italic; @include trailer; @extend %readable; }

  .do-review__close,
  .do-rating__close       { @include rposition($type: absolute, $right: 0, $top: $header-height*2 ); cursor: pointer; font-size: 2em; font-weight: 300; }

  .do-review__input,
  .do-rating__input       {
    width: 100%;
    height: 300px;
    border: none;
    @include trailer;
    background-color: inherit;
    @include adjust-font-size-to($h3-size);
    @extend %readable;
    resize: none;
  }
}

.do-rating{
  @extend %text--center;
  .do-rating__input       { height: 150px; width: 66.666%; }
  .do-rating__number      { display: none; }
}

.do-rating-with-stars{
  @include trailer(3);
  .do-rating-action { cursor: pointer; margin-right: 5px; }
}

// ------------------
// SLIDER
// ------------------
.backdrop-slider {
  width: 100%;
  height: 100%;
  background: $text-color;
  position: relative;
  & > ul{
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
  }
  li {
    width: 100%;
    height: 100%;
    @include rposition($type: absolute, $left: 0, $top: 0 );
    pointer-events: none;
    @extend %invisible;
    z-index: $slider-index;
    overflow: hidden;
    @include transition(opacity, ease, .5s);
  }

  li .backdrop {
    @extend %show;
    width: 100%;
    height: 100%;
    @include rposition($type: absolute, $left: 0, $top: 0, $bottom: 0, $right: 0 );
    background-size: cover;
    background-position: center;
  }

  // Current state
  .current {
    @extend %visible;
    pointer-events: auto;
    z-index: $slider-index + 1;
  }

  // Navigation
  nav a {
    @include rposition($type: absolute, $right: 0, $bottom: 0 );
    z-index: $slider-index + 3;
    display: inline-block;
    width: $base-font-size*3;
    @extend %text--center;
    padding: .75em;
    color: $white;
    @include transition(background-color, ease-in, .5s);
    &:hover           { background-color: $dark-trans; }
  }

  nav a.prev          { right: $base-font-size*3; }

}