.notifications{
  @extend %grid-papa;
  @extend %relative;
  @extend %cf;
  @include trailer(2);
  @include leader(2);
  max-width: 40em;
}

.notification{
  @include trailer;
  img       { width: $base-font-size*2.5; height: $base-font-size*2.5; }
  p         { font-weight: 400; }
}