.person-wrapper             { @include rposition($type: absolute, $top: 0, $right: 0, $bottom: 0, $left: 0); }

.person-sidebar             { @include rposition($type: absolute, $top: 0, $bottom: 0, $left: 0); height: 100%; width: 266px; z-index: 3; }
.person-works               { position: relative; height: 100%; overflow: hidden; overflow-y: scroll; margin-left: 266px; z-index: 2; @extend %leader; }

.person__img                { position: relative; @include trailer; }

.person-data-wrapper{
  position: relative;
  padding-left: $base-font-size*1.5;
  padding-right: $base-font-size*1.5;
  @include adjust-font-size-to($milli-size);
  height: 280px;
}

.person-fade-bottom{
  @include rposition($type: absolute, $right: 0, $bottom: 0, $left: 0);
  height: $base-font-size*4;
  z-index: 99;
  @include background-image(radial-gradient(ellipse 100% 100% at 50% 0,transparentize($white, 1),transparentize($white, 0.65),$white));
}

.person-info{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  padding-right: $base-font-size*.75;
}

.person__name{
  @include adjust-font-size-to($h5-size);
  @include rposition($type: absolute, $bottom: 0, $right: 0, $left: 0);
  padding: 1em $base-font-size 1em $base-font-size*1.5;
  @extend %flush;
  background-color: transparentize($text-color, 0.3);
  @extend %caps;
  @extend %text--light;
  @extend %text--inverse;
}
