.media__lovers{

  display: inline-block;

  a     { display: inline-block; margin-right: 5px; }
  img   { width: 28px; height: 28px; vertical-align: middle; }

}

.r--actions{

  display: block;
  @include trailer(2);
  @include leader(2);

  i {

    font-size: 1.5em;
    opacity: 0.8;
    margin: 0 10px;
    vertical-align: middle;
    color: $white;

  }

}