.rating, .review        { @include trailer(2); padding: 0 2em!important; }
.rating                 { @include leader(4); }
.rating__review         { @extend %readable; @include trailer(.25); }
.rating__review--link   { color: $text-color; @include transition(color ease-in .15s); &:hover{ color: $brand-color; } }

.rating--wrapper          { @include rposition($type: absolute, $top: 0, $right: 0, $bottom: 0, $left: 0); }
.rating--movie--side      { @include rposition($type: absolute, $top: 0, $bottom: 0, $left: 0); height: 100%; width: 62.666%; z-index: 3; }
.rating--section          { position: relative; height: 100%; overflow: hidden; overflow-y: scroll; margin-left: 62.666%; z-index: 2; }


.rating--backdrop {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  &:before{
    content: "";
    @include rposition($type: absolute, $bottom: 0, $left: 0, $right: 0, $top: 0 );
    @include background-image(linear-gradient(transparent 35%, transparentize($text-color, .25)));
    z-index: $slider-index + 2;
  }
}

.movie--reviews, .movie--ratings{
  @extend %grid-papa;
  @extend %relative;
  @extend %cf;
  @include trailer(2);
  max-width: 50em;
}

.movie__header{
  &.movie__header--centered{
    @extend %text--center;
  }
}

.ratings{
  @include trailer(2);
}


.rating__stars{
  @include trailer(.25);
}

.comment-action{
  cursor: pointer;
  color: $good-green;
  margin-right: .5em;
  margin-left: 1em;
}

.rating__stats{
  @include trailer;
  span { margin-right: .5em; }
}

.media__love a{
  color: $second-color;
  font-size: 2em;
  vertical-align: super;
  margin-right: .25em;
}


.rating-show{
  .media__body--content   { @include adjust-font-size-to($h4-size, 1.5); @include trailer; @include leader(.5); }
  .rating__stars          { float: right; font-size: 1.25em; }
}

.media__lovers{
  display: inline-block;
  a     { display: inline-block; margin-right: 5px; }
  img   { width: 30px; }
}

.media__body--content__short {display: block;}

.media__best {
  max-width: 40em;
  margin-right: auto;
  margin-left: auto;
  @include trailer;
  .content    { @extend %readable; text-align: left; color: transparentize($white, .4); @include transition; &:hover {color: $white;} }
  .media__img { width: 30px; height: 30px; margin-left: 10px; }
}