.close-frm{
  color: #666;
  position: absolute;
  right: .5em;
  top: .5em;
  padding: 1em;
  cursor: pointer;
}

.search-form-wrapper {
  @include rposition($type: fixed, $top: 0, $bottom: 0, $left: 0);
  width: 100%;
  z-index: index($index-elements, search-form);
  background-color: transparentize($text-color, .1);
  @include translateY(-100%);
  @include transition(transform 300ms $cubic-2);

  &.active                  { @include translateY(0); }

  @media #{$medium-up}      { width: 100%; }

}

.search-form{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  @include translate(-50%, -100%);

  input{
    border: 0;
    width: 100%;
    @include adjust-font-size-to($mega-size);
    letter-spacing: 1px;
    @extend %headline;
    @extend %text--inverse;
    background-color: transparent;
    &:focus,
    &:hover {
      border: none;
      outline: none;
    }
  }
}

.search-container{
  display: none;
  &.active { display: block; }
}

.search-keys{
  text-align: center;
  @extend %cf;
  &> h1                           { @extend %caps; @extend %headline; @extend %text--black; }
  .search-keys__for               { @extend %text--regular; @include adjust-font-size-to($h4-size); }
  .search-keys__results {
    @extend %text--regular;
    @include adjust-font-size-to($h5-size);
    @include trailer;
    padding: .45em .5em;
    margin-right: .25em;
    margin-left: .25em;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 2px;
    b                         { color: $brand-color; }
    &.active                  { border-color: $brand-color; }
  }
}