.search-form{
  position: relative;
  z-index: 99;

  form                    { height: 0; @include transition(height cubic-bezier(.65,0,1,.95) 0.25s); overflow: hidden; }
  &.active form           { height: $base-font-size*5; }

  input{
    border: 0;
    width: 100%;
    @include adjust-font-size-to($h3-size);
    height: $base-font-size*5;
    padding-left: 3%;
    font-weight: 300;
    background-color: #222;
    color: white;
    &:focus,
    &:hover {
      border: none;
      outline: none;
    }
  }
}