// SHOW
.user-info-wrapper{ @extend %cf; }

.user-info{
  text-align: center;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 80%;
  @include translate(-50%, 0);

  .user__img{
    margin: 0 auto 1em auto;
    width: $base-font-size*5.5;
    height: $base-font-size*5.5;
    box-shadow: 0 0 0px 3px rgba($white, 1);
  }

  .user-info__place{
    color: rgba($text-color, .4);
    font-size: 12px;
    font-weight: 400;
    i{margin-right: .25em;}
  }

  .user__name{
    font-size: 2em;
    font-variant: small-caps;
    text-transform: lowercase;
    margin-bottom: .2em;
  }
}

.best-rate-wrapper{
  float: left;
  width: ((100% - 30%)/2);
  position: relative;
}

.user-wrapper{
  float: left;
  width: 30%;
  position: relative;
}

.best-rate-gr{
  float: left;
  width: 100%;
  background-color: $text-color;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 0;
  @include transition;
  -webkit-filter: grayscale(50%) brightness(0.8);

  &:hover{-webkit-filter: grayscale(0) brightness(1);}
}


.best-rate-gr-1{
  width: 60%;
  padding-top: 60%;
}

.best-rate-gr-2{
  width: 40%;
  padding-top: 20%;
}

.best-rate-gr-3{
  width: 40%;
  padding-top: 40%;
}

.best-rate-grlf-1{
  width: 60%;
  padding-top: 60%;
}

.best-rate-grlf-2{
  width: 40%;
  padding-top: 60%;
}

.best-rate-gruser{
  width: 100%;
  padding-top: 70%;
}

.user-nav-wrapper{
  padding: 4em 1em;
}

.user-nav{
  @include inline-block-list(1.25em);
  span{display: block;}
  .user-nav__title{ color: #aaa; }
}

.follow-button{
  float: right;
}

// Users INDEX
.users{
  width: 80%;
  margin: 0 auto;
}

table.users_list{
  td{
    padding: 10px;
  }
}

.users_list{
  @extend %grid-papa;
  @extend %relative;
  @extend %cf;
  @include trailer(2);
  @include leader(2);
  max-width: 40em;
}

// Pagination
.pagination       { @include padding-leader; @include padding-trailer(2); clear: both; }